.contact {
    background-color: #333;
    padding-top: 20px;
    h1 {
        color: #fff;
    }

    hr {
        border-color: #888888;
    }

    p {
        color: #888888;
        font-size: .8em;
        padding-bottom: 10px;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-info {
    width: 100%;
    margin-bottom: 50px;
}

.contact-info div {
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: $main-font;

    h3 {
        margin-bottom: 10px;
        color: #888888;
        font-size: 1.3em;
    }

    p {
        color: #fff;
        font-size: 1em;
    }
}

.social-media {

    a {
        text-decoration: none;
        i {
            color: #fff;
            font-size: 20px;
            margin-right: 30px;
        }
    }
}

.contact-form {
    width: 100%;
}

.contact-form form {
    margin-left: 50px;

    input, textarea {
        width: 70%;
        padding: 10px;
        background-color: #333;
        font-family: $main-font;
        font-size: 20px;
        margin-bottom: 20px;
        border: 1px solid #888888;
        border-radius: 4px;
    }

    input:focus, textarea:focus {
        border: 1px solid #fff;
    }

    button {
        background-color: #2781e6;
        border: none;
        color: #fff;
        font-size: 15px;
        font-family: $main-font;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
    }
}


@media screen and (min-width: 1000px) {
    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact-info {
        width: 30%;
    }

    .contact-info div {
        text-align: center;
    }

    .contact-form {
        width: 70%;
        text-align: center;
    }
}